:host {
    position: relative;
}

.top-bar {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 5;

    background-color: #1a1a1a;
    box-shadow: 0px 0px 5px 4px #000000;

    .back-btn {
        cursor: pointer;

        margin-left: 40px;
        height: 100%;
        left: 0;
        position: absolute;
        z-index: 1;
        color: #efefef;
        fill: #efefef;
        font-size: max(1.15rem, 15px);
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            margin-left: 42.5px;
        }

        &>svg {
            margin-right: 15px;
        }
    }

    .project-title {
        font-size: max(2rem, 20px);
        color: #e6e6e6;
    }
}

.project-content {
    width: 100%;
    height: 90%;
    background-color: #3a3a3a;
    overflow-y: auto;

    &>.project-grid-container {
        display: block;
        width: 100%;

        $grid-size: 49.73px;
        $grid-color: #62626271;
        background-size: $grid-size $grid-size;
        background-repeat: repeat;
        background-image:
            linear-gradient(to right, $grid-color 0.12px, transparent 1px),
            linear-gradient(to bottom, $grid-color 0.12px, transparent 1px);

    }
}

.project-fab-collection {
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 0;
    margin: max(1.5rem, 30px);

    display: flex;
    flex-direction: column;

    &>button {
        margin-top: 10px;
    }
}