:host {
    width: 90%;
    height: 60px;
    background-color: #a0a1a3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    border-radius: 10px;

    &>p {
        margin-left: 30px;
        font-size: 1.4rem;
        cursor: pointer;
    }

    &>div {
        margin-right: 30px;
        
        &>svg {
            height: 25px;
            cursor: pointer;
            margin: 0px 15px;

            &:nth-child(1) {
                fill: #1f3356;
            }

            &:nth-child(2) {
                fill: #f93939;
            }
        }
    }
}