:host {
    cursor: pointer;
    width: 90%;
    height: fit-content;
    margin: 10px 0px;
}

.project-item-container {
    width: 100%;
    height: 100%;
    background-color: #a0a1a3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    box-shadow: 0px 2px 10px 0.15px #000000d4;
    outline: 1px solid #000;

    &:hover {
        color: #c4c4c4;
        background-color: #454545;
        outline-color: rgb(144, 13, 237);
    }

    &>span {
        margin-left: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: max(1.25rem, 17.5px);
        cursor: pointer;

        display: flex;
        align-items: center;

        &:hover {
            text-decoration: underline;
        }

        &>span {
            color: #c4c4c4;
            background-color: #33548d;
            padding: 7.5px 10px;
            margin-left: 15px;
            border-radius: 30px;
            font-size: 0.85rem;
        }
    }

    &>div {
        display: flex;
        align-items: center;
        margin-right: 30px;
        
        &>svg {
            height: 17.5px;
            cursor: pointer;
            margin: 0px 15px;

            &:nth-child(1) {
                fill: #26ab33;

                &:hover {
                    fill: #2cd43d;
                }
            }

            &:nth-child(2) {
                fill: #406098;

                &:hover {
                    fill: #5b85ce;
                }
            }

            &:nth-child(3) {
                fill: #ba2424;

                &:hover {
                    fill: #fc4d4d;
                }
            }
        }
    }
}