:host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.title {
    margin: 20px;
    font-size: max(3.5rem, 30px);
    display: flex;
    flex-direction: column;
    align-items: center;

    &>hr {
        margin: 10px;
        width: 120%;
        opacity: 0.4;
        border: none;
        outline: 1px solid rgb(0, 72, 145);
    }
}

.typing {
    font-size: max(1.5rem, 12px);
}

.google-auth-button {
    margin-top: 40vh;
    display: flex;
    align-items: center;
    font-size: max(1.2rem, 30px);
    outline-width: 1px;
    outline-style: solid;
    padding: 0.75rem 1.2rem;
    transition: all 0.5s ease-in-out;
    background-color: #2727275e;
    outline-color: #4fff7e;
    outline-offset: 0px;
    box-shadow: 0 0 20px hsla(148, 74%, 59%, 0);

    $element_color: #00ff6e;
    color: $element_color;
    fill: $element_color;

    svg {
        height: max(1rem, 8px);
        margin-right: 1rem;
    }

    &:hover {
        transition: all 0.5s ease-in-out;
        background-color: #00bf72;
        outline-color: #00000000;
        outline-offset: 20px;
        box-shadow: 0 0 20px hsl(148, 74%, 59%);
        cursor: pointer;

        $element_color: #dcdcdc;
        color: $element_color;
        fill: $element_color;
    }
}