.top-bar {
    position: relative; // To make z-index work
    z-index: 4;
    width: 100%;
    height: 12%;

    $color: #0848a7;
    background-color: $color;
    box-shadow: 0px 0px 5px 4px darken($color, 10%);

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    div {
        &:nth-child(1) {
            display: flex;
            align-items: center;

            &>img {
                border-radius: 12.5%;
                width: max(1rem, 50px);
                margin-right: 30px;
            }

            &>span {
                font-size: max(1.2rem, 15px);
                color: #ffffff;
                text-overflow: ellipsis;
            }
        }

        &:nth-child(2) {
            display: flex;
            align-items: center;
            font-size: max(1.2rem, 30px);
            outline-width: 1px;
            outline-style: solid;
            padding: 0.75rem 1.2rem;
            transition: all 0.5s ease-in-out;
            background-color: #2727275e;
            outline-color: #e95757;
            outline-offset: 0px;
            box-shadow: 0 0 20px hsla(148, 74%, 59%, 0);
        
            $element_color: #de5c5c;
            color: $element_color;
            fill: $element_color;
        
            svg {
                height: max(1rem, 8px);
                margin-right: 1rem;
            }
        
            &:hover {
                transition: all 0.5s ease-in-out;
                background-color: #e34a4a;
                outline-color: #00000000;
                outline-offset: 20px;
                box-shadow: 0 0 20px #e95757;
                cursor: pointer;
        
                $element_color: #dcdcdc;
                color: $element_color;
                fill: $element_color;
            }
        }
    }
}

.content {
    position: relative; // To make z-index work
    z-index: 0;
    width: 100%;
    height: 88%;
    background-color: #e1e1e1;
    display: flex;
    flex-direction: column;

    &>.action-list {
        &>button {
            transition: all 0.2s ease-in-out;
            margin: 30px;
            font-size: max(1.1rem, 14px);
            padding: 12px;
            border-radius: 7.5px;
            box-shadow: 0px 2px 2px 0.25px #000000b0;
            cursor: pointer;
    
            &:hover {
                transition: all 0.2s ease-in-out;
                background-color: #383838;
                color: #ffffff;
            }
        }
    }

    &>.project-list {
        flex-grow: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #0000000b;
    }
}