<div class="top-bar">
    <div>
        <img [src]="userImage" alt="" referrerpolicy="no-referrer">
        <span>{{ userName }}</span>
    </div>
    <div (click)="logOut()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
    </div>
</div>
<div class="content">
    <div class="action-list">
        <button (click)="onNewProject()">Create New Project</button>
    </div>

    <div class="project-list">
        <project-item
            *ngFor="let project of projectList"
            [projectItem]="project"></project-item>
    </div>
</div>