<!-- Top Bar -->
<div class="board-top">
    <!-- Name -->
    <span>{{ boardItem.name }}</span>

    <!-- Options -->
    <mat-icon [matMenuTriggerFor]="menu" class="action-icon">more_vert</mat-icon>
    <mat-menu #menu="matMenu">
        <div mat-menu-item (click)="onBoardEdit()">
            <mat-icon>edit</mat-icon>
            <span>Edit Board</span>
        </div>
        <div mat-menu-item (click)="onBoardDelete()">
            <mat-icon>delete</mat-icon>
            <span>Delete Board</span>
        </div>
    </mat-menu>
</div>

<!-- Board Content -->
<div class="board-content" (mousedown)="noPropagationClick($event)">
    <div class="content-frame" [ngSwitch]="boardItem.boardType">
        <div class="content-ui">
            <ng-container *ngSwitchCase="'STATIC'">
                <textarea [ngModel]="content_or_link" (ngModelChange)="onContentUpdated($event)"></textarea>
            </ng-container>
            <ng-container *ngSwitchCase="'LINKED'">
                <iframe
                    sandbox="allow-forms allow-modals allow-scripts allow-pointer-lock allow-popups allow-same-origin allow-top-navigation"
                    [src]="content_or_link"></iframe>
            </ng-container>
        </div>

        <!-- Board Update UI -->
        <div class="content-updated-ui" *ngIf="show_board_update_ui">
            <button (click)="onImmediateBoardUpdate()">Update</button>
        </div>
    </div>
</div>