:host {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #160035;
    border-radius: 12px;
}

.board-top {
    width: 100%;
    height: 50px;
    background-color: rgba(0, 61, 159, 0.193);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px 12px 0px 0px;
    color: #ffffff;

    &>span {
        text-overflow: ellipsis;
        font-size: 1.25rem;
        margin-left: 12px;
    }

    &>.action-icon {
        cursor: pointer;
        margin-right: 10px;
    }
}

.board-content {
    width: 100%;
    height: calc(100% - 50px);

    &>.content-frame {
        width: 100%;
        height: 100%;
    }
}